{% assign current_previous = page %}
{% assign current_next = page %}
{% assign previous = '' %}
{% assign next = '' %}

{% for counter in (0..5) %}
{% if previous == '' %}
{% if current_previous.previous.img %}
{% assign previous = current_previous.previous.url %}
{% else %}
{% assign current_previous = current_previous.previous %}
{% endif %}
{% endif %}

{% if next == '' %}
{% if current_next.next.img %}
{% assign next = current_next.next.url %}
{% else %}
{% assign current_next = current_next.next %}
{% endif %}
{% endif %}
{% endfor %}

{% if previous != '' %}
<a href="{{previous  | prepend: site.baseurl}}" class="next" title="Next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
{% endif %}
{% if next != '' %}
<a href="{{next}}  | prepend: site.baseurl" class="previous" title="Previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
{% endif %}