// - - - - - - - - - - Header Styles - - - - - - - - - - //

.main_header
  border-radius: 0.5rem
  padding: 1rem 1.5rem
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $background-base
  z-index: 1
  .logo
    color: $background-head-foot
    margin: 0
    font-size: $fontsize-logo
    text-decoration: none
    font-weight: 700
  nav
    a
      font-size: $fontsize-about
      color: $background-head-foot
      text-decoration: none
      margin-left: 1rem